<h1>These recipes matched your search:</h1>
<br>

{{message}}

<section class="recipe-section">
    {{#if recipes.length}}
    {{#each recipes}}
    <div class="recipe-card">
        <img src="{{ this.image }}" alt="Recipe image">
        <h2>{{ this.name }}</h2>
        <h3>Ingredients</h3>
        <ul>
            {{#each this.ingredients}}
            <li>{{ this }}</li>
            {{/each}}
        </ul>
        <h3>Instructions</h3>
        {{#if this.instruction}}
        <a href="{{ this.instruction }}" target="_blank">{{ this.instruction }}</a>
        {{else}}
        <p>No instructions available</p>
        {{/if}}
        <h3>Cuisine Type</h3>
        <ul>
            {{#each this.cuisineType}}
            <li>{{ this }}</li>
            {{/each}}
        </ul>
        <h3>Meal Type</h3>
        <ul>
            {{#each this.mealType}}
            <li>{{ this }}</li>
            {{/each}}
        </ul>
        <h3>Dish Type</h3>
        <ul>
            {{#each this.dishType}}
            <li>{{ this }}</li>
            {{/each}}
        </ul>

        {{#if ../user}}

        <!-- Piilokenttä "currentURL" tallentaa nykyisen sivun URL-osoitteen -> lomake lähetetään 
              -> käyttäjä ohjataan takaisin tälle sivulle. -->
        <form action="/recipe_saved/{{ this._id }}" method="post">
            <input type="hidden" name="currentURL" value="{{ ../currentURL }}">
            <button type="submit">Save a Recipe</button>
        </form>

        <form action="/recipe_marked_favorite/{{ this._id }}" method="post">
            <input type="hidden" name="currentURL" value="{{ ../currentURL }}">
            <button type="submit">Mark as Favorite</button>
        </form>

        {{/if}}
    </div>
    {{/each}}
    {{else}}
    <p class="no">No recipes found.</p>
    {{/if}}
</section>

<br>

{{#if user}}
<div class="back-to-button">
    <a href="/user_dashboard" class="button">Back to recipe search</a>
</div>
{{else}}
<div class="back-to-button">
    <a href="/" class="button">Back to recipe search</a>
</div>
{{/if}}