<h1>Recipe Database</h1>
<br>
<table id="recipe-table" class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Image</th>
        <th>Ingredients</th>
        <th>Instruction</th>
        <th>Cuisine Type</th>
        <th>Meal Type</th>
        <th>Dish Type</th>
        <th>Delete</th>
    </tr>
    {{#each recipes}}
    <tr>
        <td>{{_id}}</td>
        <td>{{name}}</td>
        <td><img src="{{ image }}" class="recipeListImage" alt="Recipe image"></td>
        <td>{{ingredients}}</td>
        <td>{{instruction}}</td>
        <td>{{cuisineType}}</td>
        <td>{{mealType}}</td>
        <td>{{dishType}}</td>
        <td>
            <form class="deleteColumn" action="/admin/recipes/delete/{{_id}}" method="post"
                onsubmit="return confirm('Are you sure you want to delete the recipe {{name}}?');">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    {{/each}}
</table>
<br>

<div class="back-to-button">
    <a href="/admin/recipes" class="button">Back to top</a>
</div>