<h1>These recipes matched your search:</h1>
<br>

<section class="recipe-section">
    {{#if recipes.length}}
    {{#each recipes}}
    <div class="recipe-card">
        <img src="{{ this.image }}" alt="Recipe image">
        <h2>{{ this.name }}</h2>
        <h3>Ingredients</h3>
        <ul>
            {{#each this.ingredients}}
            <li>{{ this }}</li>
            {{/each}}
        </ul>
        <h3>Instructions</h3>
        {{#if this.instruction}}
        <a href="{{ this.instruction }}" target="_blank">{{ this.instruction }}</a>
        {{else}}
        <p>No instructions available</p>
        {{/if}}
        <h3>Cuisine Type</h3>
        <ul>
            {{#each this.cuisineType}}
            <li>{{ this }}</li>
            {{/each}}
        </ul>
        <h3>Meal Type</h3>
        <ul>
            {{#each this.mealType}}
            <li>{{ this }}</li>
            {{/each}}
        </ul>
        <h3>Dish Type</h3>
        <ul>
            {{#each this.dishType}}
            <li>{{ this }}</li>
            {{/each}}
        </ul>

        {{!-- Buttons will be displayed if user is logged in
        Koska ollaan eachin sis채ll채 tarvitaan ../ joka mahdollistaa
        "ulkopuolisen" muuttujan k채ytt채misen --}}
        {{#if ../user}}
        <div>
            <a href="/recipe_saved/{{ this._id }}" class="saveButton"><button><strong>Save a
                        Recipe</strong></button></a>
            <a href="/recipe_marked_favorite/{{ this._id }}" class="faveButton"><button><strong>Mark as
                        Favorite</strong></button></a>
        </div>
        {{/if}}

    </div>
    {{/each}}
    {{else}}
    <p class="no">No recipes found.</p>
    {{/if}}
</section>

<br>

{{#if user}}
<div class="back-to-button">
    <a href="/user_dashboard" class="button">Back to recipe search</a>
</div>
{{else}}
<div class="back-to-button">
    <a href="/" class="button">Back to recipe search</a>
</div>
{{/if}}