<h1>Recipe Database</h1>
<br>
<table id="recipe-table" class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <!--    <th>Image</th>    -->
        <th>Ingredients</th>
        <th>Instruction</th>
        <th>Cuisine Type</th>
        <th>Meal Type</th>
        <th>Dish Type</th>
        <th>Delete</th>
    </tr>
    {{#each recipes}}
    <tr>
        <td>{{_id}}</td>
        <td>{{name}}</td>
        <!--    <td>{{image}}</td>    -->
        <td>{{ingredients}}</td>
        <td>{{instruction}}</td>
        <td>{{cuisineType}}</td>
        <td>{{mealType}}</td>
        <td>{{dishType}}</td>
        <td>
            <form class="deleteColumn" action="/admin/recipes/delete/{{_id}}" method="post"
                onsubmit="return confirm('Are you sure you want to delete the recipe {{name}}?');">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    {{/each}}
</table>

<br>

{{!-- {{#each recipes}}
<div class="recipe-card">
    <h2>{{this.name}}</h2>
    <img src="{{this.image}}" alt="{{this.name}}">
    <p>{{this.ingredients}}</p>
    <p>{{this.instruction}}</p>
    <form action="/admin/recipes/delete/{{this._id}}" method="post">
        <button type="submit">Delete</button>
    </form>
</div>
{{/each}} --}}
<br>

<h3>Search recipes from API</h3>

<div class="form-card">
    <form action="/saverecipe" method="post">
        <label for="recipeName"><strong>Recipe Name: </strong></label>
        <input type="text" id="recipeName" name="recipeName" required><br><br>
        <label for="recipeNumber"><strong>Recipe Number: </strong></label>
        <input type="number" id="recipeNumber" name="recipeNumber" required><br><br>
        <button type="submit"><strong>Save Recipe</strong></button>
    </form>
</div>