<h1>Recipe Database</h1>

{{#each recipes}}
<div class="recipe-card">
    <h2>{{this.name}}</h2>
    <img src="{{this.image}}" alt="{{this.name}}">
    <p>{{this.ingredients}}</p>
    <p>{{this.instruction}}</p>
    <form action="/admin/recipes/delete/{{this._id}}" method="post">
        <button type="submit">Delete</button>
    </form>
</div>
{{/each}}