<h1>New recipes</h1>

<form action="/saverecipe" method="post">
    {{#each searchedRecipes}}
    <div class="recipe-card">
        <img src="{{ this.image }}" alt="Recipe image">
        <h2>{{ this.name }}</h2>
        <h3>Ingredients</h3>
        <ul>
            {{#each this.ingredients}}
            <li>{{ this }}</li>
            {{/each}}
        </ul>
        <h3>Instructions</h3>
        <p>{{ this.instruction }}</p>
        <h3>Cuisinetype</h3>
        <ul>
            {{#each this.cuisineType}}
            <li>{{ this }}</li>
            {{/each}}
        </ul>
        <h3>Mealtype</h3>
        <ul>
            {{#each this.mealType}}
            <li>{{ this }}</li>
            {{/each}}
        </ul>
        <h3>Dishtype</h3>
        <ul>
            {{#each this.dishType}}
            <li>{{ this }}</li>
            {{/each}}
        </ul>
        <input type="hidden" name="name" value="{{ this.name }}">
        <input type="hidden" name="image" value="{{ this.image }}">
        <input type="hidden" name="ingredients" value="{{ this.ingredients }}">
        <input type="hidden" name="instruction" value="{{ this.instruction }}">
        <input type="hidden" name="cuisineType" value="{{ this.cuisineType }}">
        <input type="hidden" name="mealType" value="{{ this.mealType }}">
        <input type="hidden" name="dishType" value="{{ this.dishType }}">
        <button  type="submit">Save Recipes</button>
    </div>
    {{/each}}
</form>


