<h1>New recipes</h1>

{{#if errorMessage}}
<div class="error-message">{{ errorMessage }}</div>
{{/if}}

{{#if successMessage}}
<div class="success-message">{{ successMessage }}</div>
{{/if}}

<!--"Print out the recipes retrieved for edamame on recipe cards. -->
<section class="recipe-section">
  {{#each searchedRecipes}}
  <div class="recipe-card">
    <img src="{{ this.image }}" alt="Recipe image">
    <h2>{{ this.name }}</h2>
    <h3>Ingredients</h3>
    <ul>
      {{#each this.ingredients}}
      <li>{{ this }}</li>
      {{/each}}
    </ul>
    <h3>Instructions</h3>
    <p><a href="{{ this.instruction }}" target="_blank">{{ this.instruction }}</a></p>
    <h3>Cuisinetype</h3>
    <ul>
      {{#each this.cuisineType}}
      <li>{{ this }}</li>
      {{/each}}
    </ul>
    <h3>Mealtype</h3>
    <ul>
      {{#each this.mealType}}
      <li>{{ this }}</li>
      {{/each}}
    </ul>
    <h3>Dishtype</h3>
    <ul>
      {{#each this.dishType}}
      <li>{{ this }}</li>
      {{/each}}
    </ul>
    <form action="/saverecipe" method="post">
      <input type="hidden" name="name" value="{{ this.name }}">
      <input type="hidden" name="image" value="{{ this.image }}">
      <input type="hidden" name="ingredients" value="{{ this.ingredients }}">
      <input type="hidden" name="instruction" value="{{ this.instruction }}">
      <input type="hidden" name="cuisineType" value="{{ this.cuisineType }}">
      <input type="hidden" name="mealType" value="{{ this.mealType }}">
      <input type="hidden" name="dishType" value="{{ this.dishType }}">
      <button type="submit" name="saveRecipe" value="{{ this.name }}">Save Recipe</button>
    </form>
    <button class="delete-recipe" data-recipe-name="{{ this.name }}">Remove</button>
  </div>
  {{/each}}
</section>



<script>
  const removedRecipes = new Set();

  // Event listener to remove recipe from list
  document.querySelectorAll('.delete-recipe').forEach(button => {
    button.addEventListener('click', (event) => {
      const recipeName = event.target.dataset.recipeName;
      removedRecipes.add(recipeName);
      // Find the recipe card element and remove it from the DOM
      const recipeCard = event.target.closest('.recipe-card');
      if (recipeCard) {
        recipeCard.remove();
        alert(`Recipe "${recipeName}" removed from list.`);
      }
    });
  });

  // Function checks whether the recipe should be displayed
  function shouldDisplayRecipe(name) {
    return !removedRecipes.has(name);
  }
</script>


<div class="back-to-button">
  <a href="/admin" class="button">Back to recipe search</a>
</div>