<h1>User Database</h1>
<br>

<table id="user-table" class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Admin Rights</th>
        <th>Recipe Interests</th>
        <th>Recommendations</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    {{#each users}}
    <tr>
        <td>{{_id}}</td>
        <td>{{name}}</td>
        <td>{{email}}</td>
        <td>{{#if adminRights}}
            <img src="/images/yes.png" alt="Yes">
            {{else}}
            <img src="/images/no.png" alt="No">
            {{/if}}
        </td>
        <td>{{recipeInterests}}</td>
        <td>{{#if receiveRecommendations}}
            <img src="/images/yes.png" alt="Yes">
            {{else}}
            <img src="/images/no.png" alt="No">
            {{/if}}
        </td>
        <td>
            <a href="/admin_update_user/{{_id}}" id="userUpdateLink"><button class="updateButton"
                    type="submit">Update</button></a>
        </td>
        <td>
            <form class="deleteColumn" action="/admin/users/delete/{{_id}}" method="post"
                onsubmit="return confirmDelete()">
                <button type="submit">Delete</button>
            </form>

        </td>
    </tr>
    {{/each}}
</table>

<script>
    function confirmDelete() {
        var confirmation = confirm("Are you sure you want to delete this user?");
        if (confirmation) {
            return true;
        } else {
            return false;
        }
    }
</script>