<h1>User Database</h1>
<br>

<table id="user-table" class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Admin Rights</th>
        <th>Recipe Interests</th>
        <th>Recommendations</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    {{#each users}}
    <tr>
        <td>{{_id}}</td>
        <td>{{name}}</td>
        <td>{{email}}</td>
        <td>{{#if adminRights}}
            <img src="/images/yes.png" alt="Yes">
            {{else}}
            <img src="/images/no.png" alt="No">
            {{/if}}
        </td>
        <td>{{recipeInterests}}</td>
        <td>{{#if receiveRecommendations}}
            <img src="/images/yes.png" alt="Yes">
            {{else}}
            <img src="/images/no.png" alt="No">
            {{/if}}
        </td>
        <td>
            <a href="/admin_update_user/{{_id}}" id="userUpdateLink"><button class="updateButton"
                    type="submit">Update</button></a>
        </td>
        <td>
            <form class="deleteColumn" action="/admin/users/delete/{{_id}}" method="post"
                onsubmit="return confirmDelete('{{name}}')">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    {{/each}}
</table>
<br>

<script>
    function confirmDelete(userName) {
        var confirmation = confirm("Are you sure you want to delete the user " + userName + "?");
        if (confirmation) {
            return true;
        } else {
            return false;
        }
    }
</script>

<br>
<div>
    <form action="/admin/users/search" method="get">
        <input type="text" name="searchQuery" placeholder="Search user by name">
        <button class="searchButton" type="submit"><strong>Search</strong></button>
    </form>
</div>
<br>

<div>
    <a href="/admin_add_user" id="userAddLink"><button class="addButton" type="submit"><strong>Add a new
                user</strong></button></a>
</div>
<br>